<% provide(:title, 'Home') %>
<div class="hero-unit">
    <h1>Welcome to Dollars InSight!</h1>
    <h2>Understand, Plan, and Achieve a Better Financial Future</h2>
    <a class="btn btn-primary btn-large" href="#">Learn More</a>
</div>
<div class="row">
    <div class="span12">
        <h1>Title</h1>
    </div>
</div>
<ul class="thumbnails">
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://www.dollarsinsight.com/wp-content/uploads/2011/04/fisherman.jpg" alt="Fisherman">
            <h3>Why Choose Us?</h3>
        </a>
        <p>At Dollars InSight, we believe in teaching you how to manage your financial life.  We believe you should have the fullest and clearest picture of your financial situation so that you know where you stand and what you can do next.  We are committed to helping you understand your current situation, develop a plan of action, all to achieve a better financial future.</p>
        
    </li>
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://www.dollarsinsight.com/wp-content/uploads/2011/04/services1.jpg" alt"">
            <h3>Our Services</h3>
        </a>
        <p>You have a wide range of choices at Dollars InSight from simple help understanding where your money is going, to more comprehensive financial personal coaching.  Every step of the way, we’re here to help you: choose online money management tools, set up a basic budget, identify ways you can improve your financial situation, and more.  If you’re not sure how, or even if, Dollars InSight can help you, contact us for a free 30-minute consultation.</p>

    </li>
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://www.dollarsinsight.com/wp-content/uploads/2011/04/aboutus1.jpg" alt="">
            <h3>About Us</h3>
        </a>
        <p>Dollars InSight started with the dream of teaching as many people as possible about the skills and tools needed to understand, plan and achieve a better financial future.  When you’re ready to take command of your finances, we’re here to help.</p>
        
    </li>
</ul>