<% provide(:title, 'Home') %>
<div class="hero-unit">
    <h1>Welcome to Dollars InSight!</h1>
    <h2>Understand, Plan, and Achieve a Better Financial Future</h2>
    <a class="btn btn-primary btn-large" href="#">Learn More</a>
</div>
<ul class="thumbnails">
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://www.dollarsinsight.com/wp-content/uploads/2011/04/fisherman.jpg" alt="Fisherman">
            <h3>Why Choose Us?</h3>
            <p>Caption here</p>
        </a>
    </li>
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://www.dollarsinsight.com/wp-content/uploads/2011/04/services1.jpg" alt"">
            <h3>Our Services</h3>
            <p>Caption here</p>
        </a>
    </li>
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://www.dollarsinsight.com/wp-content/uploads/2011/04/aboutus1.jpg" alt="">
            <h3>About Us</h3>
            <p>Caption here</p>
        </a>
    </li>
</ul>