<h1>Listing blogs</h1>

<table width=700>
<% @blogs.each do |blog| %>
  <tr>
    <td><strong><%= blog.title %></strong></td>
  </tr>
  <tr>
    <td><%= truncate(blog.content, :length => 200, :separator => ' ', :omission => "...") %></td>
  </tr>
  <tr>
    <td><%= link_to 'Read More', blog %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
